body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
}

.header-top {
    display: flex;
    flex-direction: row;
}

.info {
    
}

.quote {
    background-color: #E5E7EB;
}