body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    padding: 20px;
}

.header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 75px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 18px;
}

a {
    color: #E5E7EB;
    text-decoration-line: none;
    display: flex;
}

.header-bottom {
    width: 50%;
    display: flex;
    padding: 0 75px;
    flex-direction: row;

}

.hb-left {
    display: flex;
    flex-direction: column;
    padding: 0 0;
}

.hb-right {
    flex: 1;
    overflow: hidden;

}


.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
}

.hero-2nd {
    color: #E5E7EB;
    font-size: 18px;
}




 button {
    background-color: #3882F6;
    color: white;
    font-weight: 600;
    height: 30px;
    width: 110px;
    border-radius: 10px;
 }


.info {
    
}

.quote {
    background-color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: white;
    margin-top: auto;
    text-align: center;
    justify-content: center;
    padding: 12px;
}

