body {
    display: flex;
    flex-direction: column;
}

.one {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
}

.two {

}

.three {

}

.four {

}

.footer {
    flex: 0px
}