body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.header, .hero, .footer {

    background-color: #1F2937;
}

.nav {
    display: flex;
    padding: 0px 120px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    gap: 22px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.hero {
    display: flex;
    padding: 40px 120px;
}

.hero-content {
    display: flex;
    flex-direction: row;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
}

.hero-text {
   color: #E5E7EB;
   font-size: 18px; 
}

.hero-signup {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border-color: #3882F6;
}

.about-content {
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.about-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    font-size: 18px;
}

.quote {
    background-color: #E5E7EB;
}

.quote-content {
    padding: 120px 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 900px;

}

.join-box {
    background-color: #3882F6;
    margin: 90px 120px;
    padding: 40px 100px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-heading {
    color: #F9FAF8;
    font-size: 18px;
    gap: 22px;
}

.join-subtext {
    color:#E5E7EB;
    font-size: 16px
}

#signup, .signup {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border-color: white;
    border: 1px;
    border-style: solid;
}

.foot {
    padding: 40px 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}// test
