body {
padding: 0;
margin: 0;
}

.header, .hero {
    font-family: 'Roboto';
    background-color: #1F2937;
}

.nav {
    display: flex;
    padding: 0px 120px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    gap: 22px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.hero {
    display: flex;
    padding: 40px 120px;
}

.hero-content {
    display: flex;
    flex-direction: row;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
}

.hero-text {
   color: #E5E7EB;
   font-size: 18px; 
}

.hero-signup {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border-color: #3882F6;
}